<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
  </header>

  <%- contents %>

  <footer>
    <!-- 滿版深藍橫幅2 -->
    <div class="areaFull mb0" data-aos="fade-up">
      <p>聯絡方式
        <span>CONTACT METHOD</span>
      </p>

      <ul class="row-down align-items-center">
        <li>Mail：
          <!-- emmet: a:mail -->
          <a href="mailto:xxxd@hexschool.com">xxxd@hexschool.com</a>
        </li>
        <li>Phone：
          <!-- emmet: a:tel -->
          <a href="tel:+0910123456 " class="text-white link-hover link-active">0910123456</a>
        </li>
        <li>Kaohsiung, Taiwan</li>
        <li>作品連結：
          <a href="https://www.behance.net/xxxdddddd"
            class="text-white link-hover link-active">https://www.behance.net/xxxdddddd</a>
        </li>
        <li class="fz0">
          <a href="https://www.facebook.com/"><img src="./assets/images/w1-icon-fb.svg" alt=""></a>
          <a href="https://www.instagram.com/"><img class="pl24" src="./assets/images/w1-icon-ig.svg" alt=""></a>
          <a href="https://line.me/R/ti/p/%40guv7422g"><img class="pl24" src="./assets/images/w1-icon-line.svg"
              alt=""></a>
        </li>
      </ul>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <!-- AOS css動畫套件 -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      // Global settings:
      disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
      startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
      initClassName: 'aos-init', // class applied after initialization
      animatedClassName: 'aos-animate', // class applied on animation
      useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
      disableMutationObserver: false, // disables automatic mutations' detections (advanced)
      debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
      throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


      // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
      offset: 160, // offset (in px) from the original trigger point
      delay: 0, // values from 0 to 3000, with step 50ms
      duration: 600, // values from 0 to 3000, with step 50ms
      easing: 'ease', // default easing for AOS animations
      once: true, // whether animation should happen only once - while scrolling down
      mirror: false, // whether elements should animate out while scrolling past them
      anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

    });
  </script>
</body>

</html>